@mixin lineHeight34{
    height: 3.4rem;
    line-height: 3.4rem;
}
.loginBox{
  margin-top: 6rem;
    .logo{
        text-align: center;
        width: 10rem;
        margin: 0px auto;
    }
    .ms-inp{
        width: 80%;
        margin: 1.6rem auto;
        box-sizing: border-box;
    }
}
.inp{
  width: 100%;
  @include lineHeight34;
  position: relative;
  span{
    width: 16%;
    display: block;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    img{
        width: 2.2rem;
        vertical-align: middle;
    }
  }
  input{
    width: 84%;
    height: 3.4rem;
    display: block;
    margin-left: 16%;
    color: #333;
  }
    .error{
        color: #ff4949;
        width: 80%;
        font-size: 1.2rem;
        text-align: left;
        top: 3.2rem;
        left: 14%;
    }
}



.line{
  width: 100%;
  height: 0.3rem;
  border: 1px solid #18c94f;
  border-top: none;
  transition: all .15s linear;
  &.error{
    border-color: #ff4949;
  }
}

.login-btn{
  display: block;
  width: 80%;
  @include lineHeight34;
  background: #18c94f;
  color: #FFF;
  margin: 2.6rem auto;
}


.tip{
  text-align: left;
  font-size: 1.2rem;
  color: #099bce;
  margin-left: 10%;
}