@import "../base.scss";
@mixin lineHeight34{
    height: rem(34px);
    line-height: rem(34px);
}
.loginBox{
  margin-top: rem(60px);
    .logo{
        text-align: center;
        width: rem(100px);
        margin: 0px auto;
    }
    .ms-inp{
        width: 80%;
        margin: rem(16px) auto;
        box-sizing: border-box;
    }
}
.inp{
  width: 100%;
  @include lineHeight34;
  position: relative;
  span{
    width: 16%;
    display: block;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    img{
        width: rem(22px);
        vertical-align: middle;
    }
  }
  input{
    width: 84%;
    height: rem(34px);
    display: block;
    margin-left: 16%;
    color: #333;
  }
    .error{
        color: #ff4949;
        width: 80%;
        font-size: rem(12px);
        text-align: left;
        top: rem(32px);
        left: 14%;
    }
}



.line{
  width: 100%;
  height: rem(3px);
  border: 1px solid #18c94f;
  border-top: none;
  transition: all .15s linear;
  &.error{
    border-color: #ff4949;
  }
}

.login-btn{
  display: block;
  width: 80%;
  @include lineHeight34;
  background: #18c94f;
  color: #FFF;
  margin: rem(26px) auto;
}


.tip{
  text-align: left;
  font-size: rem(12px);
  color: #099bce;
  margin-left: 10%;
}
.tip{
  text-align: left;
  font-size: rem(12px);
  color: #099bce;
  margin-left: 10%;
}