@import "../base.scss";
//顶部
.orderTop{
    width: 100%;
    height: rem(34px);
    line-height: rem(34px);
    overflow: hidden;
    box-shadow: 0px 1px 0px #C9C9C9;
    .active{
        color: #2e945a;
        border-bottom: 1px solid #2e945a;
        p{
            display: block;
        }
    }
    .swiper-slide {
        width: auto;
        // height: rem(34px);
        padding: 0px rem(10px);
        position: relative;
        font-size: rem(14px);
        p{
            width: 100%;
            height: rem(2px);
            background: #2e945a;
            position: absolute;
            bottom: rem(-1px);
            left: 0;
            z-index: 1;
            display: none;
        }
    }
}

//侧边栏
.orderSlide{
    width: 30%;
    height: rem(456px);
    overflow-y: scroll;
    float: left;
    box-shadow: 1px 0px 0px #C9C9C9;
    ul{
        padding-top: rem(1px);
        padding-bottom: rem(40px);

        li{
            height: rem(34px);
            line-height: rem(34px);
            text-align: center;
            font-size: rem(14px);
            color: #333;
            &.active{
                background: #2e945a;
                color: #FFFFFF;
            }
        }
    }
}
//内容
.orderContent{
    width: 70%;
    height: calc(100vh - rem(74px));
    overflow-y: scroll;
    margin-left: 30%;
    text-align: left;
    ul{
        padding-bottom: rem(40px);
        .name{
            font-weight: bold;
            color: #666;
            font-size: rem(15px);
            padding-left: rem(10px);
            margin-top: rem(5px);
        }
        .detail{
            font-size: rem(12px);
            color: rgb(128, 128, 128);
            padding-left: rem(10px);
            line-height: rem(20px);
            width: 90%;
        }
        .spriceBox{
            padding-left: rem(10px);
            height: rem(30px);
            line-height: rem(30px);
            font-size: rem(12px);
            border-bottom: 1px  solid #C9C9C9;
            position: relative;
            .sprice{
                color: #ff3939;
            }
            .optprice{
                width: rem(60px);
                position: absolute;
                z-index: 1;
                right: rem(6px);
                top: rem(5px);
                .add,.sub,.num{
                    width: rem(18px);
                    height: rem(18px);
                    line-height: rem(18px);
                    text-align: center;
                    font-size: rem(14px);
                    border: 1px solid #C9C9C9;
                    display: block;
                    float: right;
                    &.red{
                        color: #ff6000;
                        border-color: #ff6000;
                    }
                }
                .num{
                    border: none;
                    font-size: rem(12px);
                    line-height: rem(19px);
                }
            }
        }

    }
}
//底部
.orderBottom{
    height: rem(36px);
    line-height: rem(36px);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: #FFF;
    // border-top: 1px solid #2e945a;
    box-shadow: 0px rem(-1px) 0px #2e945a;
    font-size: rem(15px);
    p{
        text-align: left;
        margin-left: rem(10px);
        span{
            color: #ff3939;
        }
    }
    .payBtn{
        width: 25%;
        height: rem(28px);
        line-height: rem(28px);
        margin-top: rem(4px);
        margin-right: rem(5px);
        border-radius: rem(3px);
        background: #2e945a;
        color: #FFF;
        font-size: rem(15px);
    }
}