*{
  margin: 0px;
  padding: 0px;
  font-size: 1.6rem;
}
img{
  max-width: 100%;
}
input,button,textarea{
  border: none;
  outline: none;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.content{
  margin-top: 4rem;
}
.wp100{
    width: 100%;
}
.hp100{
    height: 100%;
}
