$defaultSize: 32px !default;
@function rem($px){
    @return $px / $defaultSize * 1rem;
}
html{
    font-size: 10vw;
    font-family: "微软雅黑";
};
*{
  margin: 0px;
  padding: 0px;
  font-size: rem(16px);
}
img{
  max-width: 100%;
}
input,button,textarea{
  border: none;
  outline: none;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.wp100{
    width: 100%;
}
.hp100{
    height: 100%;
}
