header{
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.5rem;
    text-align: center;
    background: #2e945a;
    color: #FFF;
    position: relative;
}
.menu{
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.menu:hover,.menu:active{
    background: #229252;
}
.menu img{
    width: 2rem;
    vertical-align: middle;
}