@import "../base.scss";
header{
    width: 100%;
    height: rem(40px);
    line-height: rem(40px);
    font-size: rem(15px);
    text-align: center;
    background: #2e945a;
    color: #FFF;
    position: relative;
}
.menu{
    width: rem(40px);
    height: rem(40px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.menu:hover,.menu:active{
    background: #229252;
}
.menu img{
    width: rem(20px);
    vertical-align: middle;
}